{% extends 'social/base.html' %}
{% block title %} {{user.username}}'s profile{% endblock %}
{% block content %}
{% load static %}

{% if edit_profile_form %}
    <form action="{% url 'social:profile' %}?username={{user.username}}" method="POST">
        {% csrf_token %}
        {{edit_profile_form}}
        <input type="submit" value="Update Profile">
    </form>
{% endif %}

{% with PIC_PATH='/static/social/'|add:user.username|add:'.jpg' %}
    <img src={{ PIC_PATH }} height="200" width="200" alt="Profile picture">
{% endwith %}
<h1>{{user.username}}</h1>
<h2>{{user.first_name }} {{user.last_name}}</h2>
<p>{{user.about}}</p>
{% endblock %}
